/* Resources Icons */
.carbon {
  background-image: url(https://atlasdatabase.github.io/img/e/carbon.png);
  background-color: #AE252D;
}
.thamium9 {
  background-image: url(https://atlasdatabase.github.io/img/e/thamium9.png);
  background-color: #AE252D;
}
.plutonium {
  background-image: url(https://atlasdatabase.github.io/img/e/plutonium.png);
  background-color: #AE252D;
}

.heridium {
  background-image: url(https://atlasdatabase.github.io/img/e/heridium.png);
  background-color: #05499a;
}
.platinum {
  background-image: url(https://atlasdatabase.github.io/img/e/platinum.png);
  background-color: #05499a;
}
.chrysonite {
  background-image: url(https://atlasdatabase.github.io/img/e/chrysonite.png);
  background-color: #05499a;
}
.iron {
  background-image: url(https://atlasdatabase.github.io/img/e/iron.png);
  background-color: #e0a10d;
}
.zinc {
  background-image: url(https://atlasdatabase.github.io/img/e/zinc.png);
  background-color: #e0a10d;
}
.titanium {
  background-image: url(https://atlasdatabase.github.io/img/e/titanium.png);
  background-color: #e0a10d;
}
.nickel {
  background-image: url(https://atlasdatabase.github.io/img/e/nickel.png);
  background-color: #5FCC93;
}
.iridium {
  background-image: url(https://atlasdatabase.github.io/img/e/iridium.png);
  background-color: #5FCC93;
}
.copper {
  background-image: url(https://atlasdatabase.github.io/img/e/copper.png);
  background-color: #5FCC93;
}
.gold {
  background-image: url(https://atlasdatabase.github.io/img/e/gold.png);
  background-color: #5FCC93;
}
.emeril {
  background-image: url(https://atlasdatabase.github.io/img/e/emeril.png);
  background-color: #5FCC93;
}
.aluminium {
  background-image: url(https://atlasdatabase.github.io/img/e/aluminium.png);
  background-color: #5FCC93;
}
.candensium {
  background-image: url(https://atlasdatabase.github.io/img/e/candensium.png);
  background-color: #c5871d;
}
.fervidium {
  background-image: url(https://atlasdatabase.github.io/img/e/fervidium.png);
  background-color: #b94318;
}
.mordite {
  background-image: url(https://atlasdatabase.github.io/img/e/mordite.png);
  background-color: #512741;
}
.pugneum {
  background-image: url(https://atlasdatabase.github.io/img/e/pugneum.png);
  background-color: #4D2957;
}
.spadonium {
  background-image: url(https://atlasdatabase.github.io/img/e/spadonium.png);
  background-color: #239626;
}
.tropheum {
  background-image: url(https://atlasdatabase.github.io/img/e/tropheum.png);
  background-color: #770022;
}
.temerium {
  background-image: url(https://atlasdatabase.github.io/img/e/temerium.png);
  background-color: #01a54e;
}
.coryzagen {
  background-image: url(https://atlasdatabase.github.io/img/e/coryzagen.png);
  background-color: #1144D3;
}
.coprite {
  background-image: url(https://atlasdatabase.github.io/img/e/coprite.png);
  background-color: #79502E;
}
.rubeum {
  background-image: url(https://atlasdatabase.github.io/img/e/rubeum.png);
  background-color: #7b0000;
}
.viridium {
  background-image: url(https://atlasdatabase.github.io/img/e/viridium.png);
  background-color: #36611C;
}
.cymatygen {
  background-image: url(https://atlasdatabase.github.io/img/e/cymatygen.png);
  background-color: #04367B;
}

.omegon {
  background-image: url(https://atlasdatabase.github.io/img/e/omegon.png);
  background-color: #711880;
}
.radnox {
  background-image: url(https://atlasdatabase.github.io/img/e/radnox.png);
  background-color: #711880;
}
.murrine {
  background-image: url(https://atlasdatabase.github.io/img/e/murrine.png);
  background-color: #711880;
}
.calium {
  background-image: url(https://atlasdatabase.github.io/img/e/calium.png);
  background-color: #711880;
}
.antrium {
  background-image: url(https://atlasdatabase.github.io/img/e/antrium.png);
  background-color: #5B7035;
}
.rigogen {
  background-image: url(https://atlasdatabase.github.io/img/e/rigogen.png);
  background-color: #015E7E;
}
/* Devices */
.atlas-pass {
  background-image: url(https://atlasdatabase.github.io/img/products/atlas-pass.png);
  background-color: #0064B6;
}
.atlas-pass-v1 {
  background-image: url(https://atlasdatabase.github.io/img/products/atlas-pass.png);
  background-color: #0064B6;
}
.atlas-pass-v2 {
  background-image: url(https://atlasdatabase.github.io/img/products/atlas-pass.png);
  background-color: #0064B6;
}
.atlas-pass-v3 {
  background-image: url(https://atlasdatabase.github.io/img/products/atlas-pass.png);
  background-color: #0064B6;
}
.bypass-chip {
  background-image: url(https://atlasdatabase.github.io/img/products/bypass-chip.png);
  background-color: #0064B6;
}
/* Products Alloys */
.aronium {
  background-image: url(https://atlasdatabase.github.io/img/products/aronium.png);
  background-color: #EFA325;
}
.crolium {
  background-image: url(https://atlasdatabase.github.io/img/products/crolium.png);
  background-color: #EFA325;
}
.grantine {
  background-image: url(https://atlasdatabase.github.io/img/products/grantine.png);
  background-color: #EFA325;
}
.herox {
  background-image: url(https://atlasdatabase.github.io/img/products/herox.png);
  background-color: #EFA325;
}
.lemmium {
  background-image: url(https://atlasdatabase.github.io/img/products/lemmium.png);
  background-color: #EFA325;
}
.magmox {
  background-image: url(https://atlasdatabase.github.io/img/products/magmox.png);
  background-color: #EFA325;
}
.terumin {
  background-image: url(https://atlasdatabase.github.io/img/products/terumin.png);
  background-color: #EFA325;
}
/* Products*/
.acid {
  background-image: url(https://atlasdatabase.github.io/img/products/acid.png);
  background-color: #EFA325;
}
.antimatter {
  background-image: url(https://atlasdatabase.github.io/img/products/antimatter.png);
  background-color: #EFA325;
}
.carite-sheet {
  background-image: url(https://atlasdatabase.github.io/img/products/carite-sheet.png);
  background-color: #EFA325;
}
.night-crystals {
  background-image: url(https://atlasdatabase.github.io/img/products/night-crystals.png);
  background-color: #007950;
}
.circuit-board {
  background-image: url(https://atlasdatabase.github.io/img/products/circuit-board.png);
  background-color: #EFA325;
}
.copper-wire {
  background-image: url(https://atlasdatabase.github.io/img/products/copper-wire.png);
  background-color: #EFA325;
}
.dynamic-resonator {
  background-image: url(https://atlasdatabase.github.io/img/products/dynamic-resonator.png);
  background-color: #EFA325;
}
.electron-vapor {
  background-image: url(https://atlasdatabase.github.io/img/products/electron-vapor.png);
  background-color: #EFA325;
}
.explosive {
  background-image: url(https://atlasdatabase.github.io/img/products/explosive.png);
  background-color: #EFA325;
}
.glass {
  background-image: url(https://atlasdatabase.github.io/img/products/glass.png);
  background-color: #EFA325;
}
.gravitino-ball {
  background-image: url(https://atlasdatabase.github.io/img/products/gravitino-ball.png);
  background-color: #007852;
}
.insulating-gel {
  background-image: url(https://atlasdatabase.github.io/img/products/insulating-gel.png);
  background-color: #EFA325;
}
.lubricant {
  background-image: url(https://atlasdatabase.github.io/img/products/lube.png);
  background-color: #EFA325;
}
.microdensity-fabric {
  background-image: url(https://atlasdatabase.github.io/img/products/microdensity-fabric.png);
  background-color: #EFA325;
}
.non-ferrous-plate {
  background-image: url(https://atlasdatabase.github.io/img/products/non-ferrous-plate.png);
  background-color: #EFA325;
}
.poli-fibre {
  background-image: url(https://atlasdatabase.github.io/img/products/poly-fibre.png);
  background-color: #EFA325;
}
.shielding-plate {
  background-image: url(https://atlasdatabase.github.io/img/products/shielding-plate.png);
  background-color: #EFA325;
}
.shielding-shard {
  background-image: url(https://atlasdatabase.github.io/img/products/shielding-shard.png);
  background-color: #EFA325;
}
.shielding-sheet {
  background-image: url(https://atlasdatabase.github.io/img/products/shielding-sheet.png);
  background-color: #EFA325;
}
.suspension-fluid {
  background-image: url(https://atlasdatabase.github.io/img/products/suspension-fluid.png);
  background-color: #EFA325;
}
.voltaic-cell {
  background-image: url(https://atlasdatabase.github.io/img/products/voltaic-cell.png);
  background-color: #EFA325;
}
/* Energy Cells */
.power-gel {
  background-image: url(https://atlasdatabase.github.io/img/products/power-gel.png);
  background-color: #BE1944;
}
.power-canister {
  background-image: url(https://atlasdatabase.github.io/img/products/power-canister.png);
  background-color: #BE1944;
}
.power-reservoir {
  background-image: url(https://atlasdatabase.github.io/img/products/power-reservoir.png);
  background-color: #BE1944;
}
.unstable-plasma {
  background-image: url(https://atlasdatabase.github.io/img/products/unstable-plasma.png);
  background-color: #BE1944;
}
.warp-cell {
  background-image: url(https://atlasdatabase.github.io/img/products/warp-cell.png);
  background-color: #BE1944;
}
/* Tradables */
.albumen-pearl {
  background-image: url(https://atlasdatabase.github.io/img/products/albumen-pearl.png);
  background-color: #007950;
}
.aquasphere {
  background-image: url(https://atlasdatabase.github.io/img/products/aquasphere.png);
  background-color: #007950;
}
.atlas-stone {
  background-image: url(https://atlasdatabase.github.io/img/products/atlas-stone.png);
  background-color: #007950;
}
.dimensional-matrix {
  background-image: url(https://atlasdatabase.github.io/img/products/dimensional-matrix.png);
  background-color: #007950;
}
.fascination-bead {
  background-image: url(https://atlasdatabase.github.io/img/products/fascination-bead.png);
  background-color: #007950;
}
.gek-charm {
  background-image: url(https://atlasdatabase.github.io/img/products/gek-charm.png);
  background-color: #007950;
}
.geknip {
  background-image: url(https://atlasdatabase.github.io/img/products/geknip.png);
  background-color: #007950;
}
.gek-relic {
  background-image: url(https://atlasdatabase.github.io/img/products/gek-relic.png);
  background-color: #007950;
}
.grahgrah {
  background-image: url(https://atlasdatabase.github.io/img/products/grahgrah.png);
  background-color: #007950;
}
.gravitino-ball {
  background-image: url(https://atlasdatabase.github.io/img/products/gravitino-ball.png);
  background-color: #007950;
}
.korvax-casing {
  background-image: url(https://atlasdatabase.github.io/img/products/korvax-casing.png);
  background-color: #007950;
}
.korwax-casing {
  background-image: url(https://atlasdatabase.github.io/img/products/korvax-casing.png);
  background-color: #007950;
}
.korvax-cube {
  background-image: url(https://atlasdatabase.github.io/img/products/korvax-cube.png);
  background-color: #007950;
}
.neutrino-module {
  background-image: url(https://atlasdatabase.github.io/img/products/neutrino-module.png);
  background-color: #007950;
}
.sac-venom {
  background-image: url(https://atlasdatabase.github.io/img/products/sac-venom.png);
  background-color: #007950;
}
.vortex-cube {
  background-image: url(https://atlasdatabase.github.io/img/products/vortex-cube.png);
  background-color: #007950;
}
.vykeen-dagger {
  background-image: url(https://atlasdatabase.github.io/img/products/vykeen-dagger.png);
  background-color: #007950;
}
.vykeen-efigy {
  background-image: url(https://atlasdatabase.github.io/img/products/vykeen-efigy.png);
  background-color: #007950;
}
.cat-alloy {
  background-image: url(https://atlasdatabase.github.io/img/cat/alloy.png);
}
.cat-commodity {
  background-image: url(https://atlasdatabase.github.io/img/cat/commodity.png);
}
.cat-components {
  background-image: url(https://atlasdatabase.github.io/img/cat/components.png);
}
.cat-devices {
  background-image: url(https://atlasdatabase.github.io/img/cat/devices.png);
}
.cat-energy {
  background-image: url(https://atlasdatabase.github.io/img/cat/energy.png);
}
.cat-resources {
  background-image: url(https://atlasdatabase.github.io/img/cat/resources.png);
}